@page "/"
@namespace TestSwiper.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TestSwiper</title>
    <base href="~/"/>
    <link href="dist/tailwind.css" rel="stylesheet"/>
    <link href="TestSwiper.styles.css" rel="stylesheet"/>
</head>
<body>
<component type="typeof(App)" render-mode="Server"/>

<script src="_framework/blazor.server.js"></script>
<script src="https://unpkg.com/@@popperjs/core@2"></script>
<script >
    window.PopperWrapper = {
        createPopper: function (reference, popper, options) {
            if (options != null) {
                Popper.createPopper(reference, popper, options);
            } else {
                Popper.createPopper(reference, popper);
            }
        }
    }
</script>

</body>
</html>